.nav-button {
    all: unset;
    cursor: pointer;

    padding: 16px 22px;
    font-size: 0.9rem;

    display: flex;
    align-items: center;
    gap: 16px;

    border-radius: 12px;
    background-color: var(--background-tertiary);
    border: 2px solid transparent;

    transition: 0.2s ease-in-out;

    &:hover,
    &:focus,
    &:active,
    &.active {
        border-color: var(--primary);
    }
}